.logo {
    max-width: 150px;
    max-height: 150px;
    margin: 10px auto;
}

.container {
   max-width: 90% !important;
}

.fixed-tabs {
    position: sticky;
    top: 20px;
}

.nav-pills .nav-link {
    font-size: 1.2rem;
    padding: 10px 20px;
}

.multi-options-switch .btn {
    border-radius: 0;
}

.multi-options-switch .btn.active {
    background-color: #007bff;
    color: #fff;
}
